<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/Tarun2234" target="_blank" aria-label="GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.instagram.com/iam_tarun2.0/" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/tarun-6b2b43230" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="f-info-brand">&copy; WanderLust Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
